<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gameroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="../js/webrtc.js"></script> -->
</head>

<body>

    <h1 class="title">Charades with Friends</h1>
    <div class="container">
        <div class="col">
            <p>Host:
                <span id="name"></span>
            </p>
            <p>Room code:
                <span id="roomName">
                    <%= roomCode %></span>
            </p>
            <p>All active users:</p>
            <ul id="active-users">

            </ul>
            <h2>How to play:</h2>
            <p>HOST</p>
            <div>
                <h2>Chat</h2>
                <div class="chat" id="all-msgs"></div>
                <form id="new-msg-form">
                    <input type="text" id="new-msg">
                    <input type="submit" class="button" value="Send Message">
                </form>
            </div>
        </div>
        <div class="col">
            <video class="video" autoplay playsinline></video>
            <button class="button">Back to main page</button>
        </div>
    </div>
</body>
<script>
    // ----------------------
    // video stream
    // ----------------------

    'use strict';

    var constraints = {
        video: true
    };

    var video = document.querySelector('video');

    function handleSuccess(stream) {
        window.stream = stream; // only to make stream available to console
        video.srcObject = stream;
    }

    function handleError(error) {
        console.log('getUserMedia error: ', error);
    }

    navigator.mediaDevices.getUserMedia(constraints).
    then(handleSuccess).catch(handleError);

    // ----------------------
    // jQuery / socket.io
    // ----------------------

    var name = prompt('Choose a display name')
    var socket = io.connect('/');
    var host;
    var hostStatus;
    var userInfo = <%- JSON.stringify(userInfo) %>
    var room = <%- JSON.stringify(roomCode) %>

    var allMsgs = [];
    console.log('room val: ', room)

    // Set up to receive messages for specific room.
    socket.on('connect', function () {
        // when the socket connects we will send the room's name back.
        socket.emit('room', {
            roomName: room
        });

        // send name and player type back to server
        socket.emit('addUser', {
            name: name,
            isHost: userInfo,
            room: room
        });
    });

    // all users active in *all* rooms
    socket.on('allUsers', function (res) {
        console.log('all the users in dis room');
        console.log(res);
    });

    // get users active in specific room
    socket.on('getActiveUsers', function (res) {
        console.log(res.allRooms);
        console.log(room)

        // check who is in this room.
        if (res.allRooms[room]) {

            // add them to an active user list
            for (var i = 0; i < res.allRooms[room].length; i++) {
                $('#active-users').append(`<li class="active"> ${ res.allRooms[room][i] } </li>`);
            }
            console.log(res.allRooms[room]);
        }
    });

    socket.on('newUser', function (msg) {
        console.log('new USER!', msg)
        $('#active-users').append(`<li> ${ msg.newUser} </li>`);
    });
    // User submits new message.
    $('#new-msg-form').submit(function (e) {
        e.preventDefault();
        $('#new-msg').val("");
    })
    $('#name').html(name);
</script>

</html>