<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gameroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="../js/webrtc.js"></script> -->
</head>

<body>

    <h1 class="title">Charades with Friends</h1>
    <div class="container">
        <div class="col">
            <p>Host:
                <span id="hostName"></span>
            </p>
            <p>Room code:
                <span id="roomName">
                    <%= roomName %></span>
            </p>
            <p>All active users:</p>
            <h2>How to play:</h2>
            <p>HOST</p>
            <div>
                <h2>Chat</h2>
                <div class="chat" id="all-msgs"></div>
                <form id="new-msg-form">
                    <input type="text" id="new-msg">
                    <input type="submit" class="button" value="Send Message">
                </form>
            </div>
        </div>
        <div class="col">
            <video class="video" autoplay playsinline></video>
            <button class="button">Back to main page</button>
        </div>
    </div>
</body>
<script>
    // ----------------------
    // video stream
    // ----------------------

    'use strict';

    var constraints = {
        video: true
    };

    var video = document.querySelector('video');

    function handleSuccess(stream) {
        window.stream = stream; // only to make stream available to console
        video.srcObject = stream;
    }

    function handleError(error) {
        console.log('getUserMedia error: ', error);
    }

    navigator.mediaDevices.getUserMedia(constraints).
    then(handleSuccess).catch(handleError);

    // ----------------------
    // jQuery / socket.io
    // ----------------------

    var name = prompt('Choose a display name')
    $(document).ready(function () {
        var socket = io('/' + room);
        var host;
        var userInfo = <%- JSON.stringify(userInfo) %>;
        var room = <%- JSON.stringify(roomCode) %>;
        var allMsgs = [];

        // Set up to receive messages for specific room.
        socket.on('connect', function () {
            console.log('in socket!')
            socket.emit('room', {
                roomName: room
            });

            socket.on('roster', function (res) {
                console.log('----THE ROSTER: '.res)
            })
        });

        // User submits new message.
        $('#new-msg-form').submit(function (e) {
            e.preventDefault();
            $('#new-msg').val("");
        })

    });
</script>

</html>