@import url('https://fonts.googleapis.com/css?family=Lato');
$col-lightpurp: #efeeff;
$col-brightpurp: #7f79da;
$col-ube: #bebbec;
$col-drkred: #6b5e5e;
$dropshadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.18);
$innershadow: inset 0 0 10px #000000;

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-size: 1em;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 100%;

    >* {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.hero {
    height: 100vh;

    img {
        padding-top: 10vh;
        width: 20rem;
        object-fit: contain;
    }
}

.title {
    font-size: 2.5em;
    letter-spacing: .2em;
    font-weight: 200;
    text-align: center;
}

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $col-lightpurp;

    .title {
        font-size: 2.5em;
        letter-spacing: .2em;
        font-weight: 200;
        padding-top: 10%;
    }

    .subtitle {
        text-align: center;
    }

    .content {
        width: 50%;
        display: flex;
        justify-content: space-between;

        div {
            width: 50%;
            margin-top: 25px;
            padding: 15px 10px;
            text-align: center;
        }

        i {
            font-size: 6rem;
            color: #cfc9e1;
        }
    }
}

@media (min-width: 1200px) {
    .new-game {
        background-image: url("../img/background.png");
        background-size: cover;
        background-repeat: no-repeat;
    }


}

.footer {
    height: 5vh;
}

.button {
    font-size: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: $col-brightpurp;
    padding: 10px 20px;
    color: #fff;

    &:hover {
        animation-name: button-hov;
        animation-duration: 550ms;
        animation-fill-mode: forwards;
    }
}

.new-game {
    .button {
        margin: 5px 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        width: 40%;

        .button {
            background-color: rgb(153, 203, 190);
        }
    }
}

@keyframes button-hov {
    100% {
        background-color: #cfc9e1;
        color: #4a3b76;
        transform: scale(1.05)
    }
}

input:focus,
button:focus {
    outline: none;
}


input {
    padding: 0;

    &[type="text"] {
        background-color: #e5e5e5;
        width: 75%;
        margin: 0;
        border: none;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 2px;
        height: 2em;
        font-size: 1em;
    }
}

a {
    text-decoration: none;
}

.video {
    height: 100%;
    width: 100%;
}

@media (max-width: 800px) {
    .about {
        height: 100%;
        padding-bottom: 30px;
    }

    .content {
        flex-direction: column;
        justify-content: center;
    }

    .new-game {
        background-image: none;
        height: 100%;
        padding-bottom: 30px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;

            .button {
                width: 80%;
                background-color: rgb(153, 203, 190);
            }
        }
    }

    .user-info {
        flex-direction: column;
        align-items: center;

        div {
            text-align: center;
        }
    }

    video {
        margin-top: 10px;
    }

}

@media (min-width: 1000px) {
    video {
        height: 480px;
    }

}

.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0 10px;

    form {
        margin: 10px 0;
    }

    h2 {
        margin: 10px;
        text-align: center;
    }

    .button {
        width: 24%;
    }
}

.container {
    h2 {
        margin: 20px 0;
        text-align: center;
    }
}

.col {
    width: 80%;
    box-shadow: $dropshadow;
    padding: 10px;
    height: 100%;
}

.user-info {
    background-color: $col-lightpurp;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 30px;

    &__name {
        color: orange;
    }

    &__highlight {
        color: $col-brightpurp;
        font-weight: 800;
    }

    div {
        padding: 5px;
    }
}

.active-players {
    background-color: $col-ube;
    height: 50%;
    margin: 0 auto;
}

.chat {
    box-shadow: $dropshadow;
    border: none;
    border: 1px solid #e2dbdb;
    height: 250px;
    display: flex;
    flex-direction: column;

    &__name {
        font-weight: 600;
        color: $col-drkred;
    }


    p {
        padding: 5px 0;
        margin: 0;
        background-color: #dfcfcf;
    }

    p:nth-child(odd) {
        background-color: #f7e8e8;
        width: 100%;
    }
}